<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npu.gmall.ums.mapper.MemberReceiveAddressMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id, name, phone_number, default_status, post_code, province, city, region, detail_address
    </sql>

</mapper>
