<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npu.gmall.pms.mapper.ProductCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npu.gmall.pms.entity.ProductCategory">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="product_count" property="productCount" />
        <result column="product_unit" property="productUnit" />
        <result column="nav_status" property="navStatus" />
        <result column="show_status" property="showStatus" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
        <result column="keywords" property="keywords" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, level, product_count, product_unit, nav_status, show_status, sort, icon, keywords, description
    </sql>
    
    <resultMap id="ExtendResultMap" type="com.npu.gmall.vo.product.PmsProductCategoryWithChildrenItem" extends="BaseResultMap">
        <collection property="children" select="listCatelogWithChildren" column="id"></collection>
    </resultMap>
    
    <select id="listCatelogWithChildren" resultMap="ExtendResultMap">
        select * from pms_product_category where parent_id=#{i}
    </select>

</mapper>
